.header {
  text-align: center;
  margin: auto;
}

.header p {
  font-family: serif;
  font-size: 25px;
  font-family: "Times New Roman";
  margin: 50px;
  color: steelblue;
}

.content {
  margin: auto;
}

.margin25 {
  margin: auto;
}

.upload {
  cursor: pointer;
}
